<body>
    <script src="https://cdn.tailwindcss.com"></script>
    <div class="bg-gray-100 p-6 rounded-lg border-1 border-gray-900">
    <p class="text-gray-800">
        Hello, my name is <strong><%= username %></strong> and my roll number is <strong><%= roll %></strong>. 
        I am a computer science student passionate about coding and learning new technologies. 
        I love working on projects that challenge my problem-solving skills and help me grow as a developer.
        <!--ese dekhne ke liye ham direct server on karke ham browser per dekh sakte hai get method se get"/"-->
    </p>
</div>
</body>
